/* (29/10/23) In this session we are going to create a english dictionay by using the html,css & javascript */
body{
    background: radial-gradient(#7bdc6e , #7ecbdc);
    height: 100vh;
    display: flex; /* for applying the display or justify content & align-items we must have to use height property */
    justify-content: center;
    align-items: center;
}
.main-container{
    width: 350px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px 10px;
}
.header-tag{
    font-size: 30px;
    padding-top: -10px;
    padding-left: 55px;
}
.input-tag{
    width: 70%;
    border: none;
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
    margin-left: 42px;
}
.para-tag{
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin-left: 68px;
}
.after-search{
    display: none;
}