/* (11/11/2023) In this session we are going to create a Dashboard(for admin panel) by using the html,css & javascript */

/* root variables  --- these are some defined variables which we can use according to our requirements */
:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-background: linear-gradient(#07ed3126,#08e1f026);
    

    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-info-dark);
}
html{
    height:100vh;
    overflow: hidden;
}
.main-container{
    width: 100%;
    background: #f4f6f8;
    height: 99vh;
    display: grid;
    /* grid-template-areas: 'aside main right'; */
    grid-template-columns: 18% 60% 20%;
    grid-gap: 1%;
}

/* Top Aside and Top Logo */
#aside{
    width: 100%;
    background:var(--color-background);
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
}
.top-side{
    width: 100%;
    /* border: 2px solid black; */
    /* background-color: #7380ec; */
    display: flex;
    align-items: self-start;
}
.top-logo{
    width: 90%;
    border-radius: 4px;
    /* border: 4px solid red; */
    display: flex;
}
.top-logo img{
    width: 135px;
    border-radius: 20px;
    padding: 0 6px 0 2px;
}
.top-logo h3{
    /* background-color: yellow; */
    width: 80px;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    color: var(--color-danger);
}
.close-button{
    font-size: 23px;
    font-weight: 700;
    padding: 8px 2px;
    margin: 3px 0px;
    cursor: pointer;
    /* background: rgba(165,164,211,0.3); */
}

/* Sidebar Section and Content inside the sidebar section */
.sidebar-section{
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    /* align-items: flex-start; */
    /* background-color: #9ca5fa; */
}
.active{
    border-radius: 15px;
    /* background-color: green; */
}
.sidebar-section a{
    text-decoration: none;
    color: rgb(56, 90, 243);
    /* background-color: yellow; */
}
.sidebar-section a h3{
    padding: 10.5px 5px;
    /* background-color: pink; */
}
.sidebar-section a h3 span{
    padding-right: 30px;
    padding-left: 45px;
    /* background-color: red; */
}
.sidebar-section h3:hover{
    /* background-color: #90e3c7; */
    border-radius: 25px;
    cursor: pointer;
    color: rgb(20, 252, 252);
}
#main{
    width: 100%;
    background:var(--color-background);
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
}
#right{
    width: 100%;
    background:var(--color-background);
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
}


/* --------------------   Main Section   -------------------- */
.DashboardAndDate{
    /* border: 2px solid black; */
    /* background: rgba(165,164,211,0.3); */
    border-radius: 11px;
    margin-top: -1px;
    padding: 2px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dashboardId{
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 20px;
    /* margin-left: 80px;
    margin-top: 6px; */
}
.DashboardAndDate input{
    width: 140px;
    cursor: pointer;
}
.user-activity{
    /* background-color: yellow; */
    margin-left: 300px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 0 0;
    margin-top: 5px;
    margin-bottom: 20px;
    /* margin-top: -2px; */
}
.user-activity h3{
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    color:black;
    cursor: pointer;
    padding: 0 5px;
    /* background-color: rgba(243, 245, 247,0.2); */
}
.user-activity img{
    /* font-size: 16px;
    font-style: italic;
    font-weight: 300;
    color: black;
    margin-top: -12px; */
    width: 50px;
    border-radius: 50%;
    padding: 0 10px ;
    /* display: flex; */
    cursor: pointer;
    /* background-color: rgba(243, 245, 247,0.2); */
}
.statusClass{
    display: flex;
    grid-template-columns: 20% 20% 20%;
    grid-gap: 2%;
    width: 96%;
    margin: 6px 12px 6px 16px;
}
.amount{
    width: 40%;
    /* background-color: lightgreen; */
    border: 2px solid black;
    border-radius: 12px;
}
#spanearning{
    margin: 14px 10px;
    /* background-color: violet; */
}
#spanearning span{
    font-size: 20px;
    font-weight: 600;
}
.numberblog{
    width: 40%;
    /* background-color: lightgreen; */
    border: 2px solid black;
    border-radius: 20px;
}
#spanblogging{
    margin: 14px 10px;
    /* background-color: violet; */
}
#spanblogging span{
    font-size: 20px;
    font-weight: 600;
}
.storage{
    width: 40%;
    /* background-color: lightgreen; */
    border: 2px solid black;
    border-radius: 20px;
}
#spanstorage{
    margin: 14px 10px;
    /* background-color: violet; */
}
#spanstorage span{
    font-size: 20px;
    font-weight: 600;
}
.middle{ 
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
 } 
.left{
    display: inline-flex;
    flex-direction: column;
    padding: 0 6px 0 6px;
    /* background-color: burlywood; */
    /* text-align: center; */
    /* justify-content: center; */
}
.left h3{
    font-size: 20px;
    font-weight: 400;
    color: red;
    margin-bottom: 3px;
}
.left h1{
    font-size: 22px;
    font-weight: bold;
    color: red;
    margin-top: 2px;
}
.progress{
    display: flex;
    /* align-content: center; */
    flex-direction: row;
    /* background-color: orangered; */
    padding: 10px;
}
.progress svg{
    position: relative;
    width: 92px;
    height: 92px;
    /* border-radius: 50%; */
}
.progress svg circle{
    fill: none;
    stroke:var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 160;
    stroke-dashoffset: 292;
}
.progress.amount svg circle{
    stroke-dashoffset: 0;
    stroke-dasharray: 200;
}
.progress .numberblog svg circle{
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}
.progress .storage svg circle{
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}
.number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: absolute;
    top: 27%;
    color: black;
    padding-left: 28px; 
    /* padding-top: -15px; */
   /* background-color: blue; */
}
small{
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
    padding-left: 16px;
}

/* ------------------ Recent orders  ------------------ */
.main-orders{
    /* border: 2px solid black; */
    /* background-color: red; */
    margin-top: 6px;
    padding-bottom: 20px;
}
.order-header{
    display: inline-flex;
    align-items: self-start;
    /* border: 2px solid black; */
    /* background-color: aquamarine; */
    padding: 0px 6px;
}
.order-header h2{
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
}
.order-table{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 12px 24px;
    padding: 5px 5px;
}
.order-table table{
    width: 100%;
    /* border: 3px solid black; */
}
.order-table th{
    /* border: 3px solid black; */
    font-size: 22px;
    padding: 6px 0 4px 0;
    margin-bottom: 3px;
    border-bottom: 1px solid black;
}
.order-table td{
    /* border: 2px solid black; */
    font-size: 17px;
    padding: 10px 3px 6px 0;
    text-align: center;
    border-bottom: 1px solid black;
    /* border-radius: 4px; */
}
.table-button{
    border: 2px solid black;
    border-radius: 30px;
    padding: 6px 10px;
    margin: 0 8px 0 8px;
    background-color: rgb(161, 219, 103);
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}
.table-button:hover{
    border-radius: 10px;
    background-color: black;
    transform: scale(0.3);
    box-shadow: 6px 6px 8px rgba(132,176,111,0.3);
    color: white;
}
.pending{
    color: rgb(246, 20, 20);
    font-size: 19px;
    cursor: pointer;
}
.details{
    color: green;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    cursor: pointer;
}


/* -------------- Starting of Recent Update --------------- */
.recent-update{
    /* border: 2px solid black; */
    /* background-color: rgb(193, 159, 226); */
    /* padding: 4px 4px 4px 4px; */
    /* margin-top: -2px; */
    border: 4px solid #c2e7db;
    border-radius: 18px;
}
.recent-update h3{
    /* border: 2px solid black; */
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
    padding-left: 6px;
}
.user-update{
    /* border: 2px solid red; */
    display: grid;
    margin-top: -15px;
    border-radius: 6px;
    /* grid-template-areas: 'img h3'
    'p p'; */
}
.user-update-img-h3{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.user-update-img-h3 img{
    width: 30px;
    /* border: 2px solid black; */
    border-radius: 8px;
}
.user-update-img-h3 h3{
    /* border: 2px solid black; */
    margin-left: 10px;
    font-size: 22px;
    color: red;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.user-update p{
    /* border: 2px solid black; */
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0 3px 0 3px;
    margin-top: -11px;
}


/* -------------- sales-analytics ---------------- */
.sales-analytics{
    border: 4px solid #c2e7db;
    border-radius: 18px;
    /* background-color:#7380ec; */
    margin-top: 4px;
}
.sales-analytics h3{
    /* border: 2px solid black; */
    /* font-size: 28px;
    font-weight: 600; */
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
    padding-left: 6px;
    margin-bottom: 10px;
}
.blog-sale{
    /* border: 2px solid red; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
    grid-template-areas: 'img small span span';
    padding: 6px 6px;
    border-radius: 10px;
    margin-bottom: 14px;
    cursor: pointer;
    /* background-color: #41f1b6; */
}
.increament{
    color: green;
    font-size: 18px;
}
.decreament{
    color: red;
    font-size: 18px;
}
#blog-sale-id{
    width: 18px;
}
.blog-sale img{
    width: 28px;
    border-radius: 50%;
}
/* ---------- Add Blog ----------- */
.add-blog{
    /* border: 2px solid black; */
    /* background-color: red; */
    margin: 8px 0 0 0;
}
.new-section{
    border: 3px dotted black;
    /* background: darkorchid; */
    display: flex;
    justify-content: center;
    padding: 5px 0 5px 0;
    border-radius: 26px;
    cursor: pointer;
}
.new-section h2{
    font-size: 22px;
}
#add-customer{
    margin-right: 9px;
}
