{% include 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'CSS/map.css' %}">
<div class="col-md-4 my-4 mx-4">
    <div class="weathercard">
        <h1>Weather</h1>
      <!-- for search -->
      <div class="search">
        <input type="text" class="input_field" placeholder="Enter city name" spellcheck="false">
        <button>
          <img src="{% static 'Images/search.png' %}">
        </button>
      </div>
      <div class="error">
        <p>Invalid city name</p>
      </div>
      <!-- for weather -->
      <div class="weather">
        <img src="{% static 'Images/Sunny.png' %}" class="weather_icon">
        <h1 class="temp">22°C</h1>
        <h2 class="city">New Delhi</h2>
        <div class="details">
          <div class="col">
            <img class="humidity_wind_img" src="{% static 'Images/humidity.jpeg' %}" alt="">
            <div>
              <p class="humidity">50%</p>
              <p class="weather_text">Humidity</p>
            </div>
          </div>
          <div class="col">
            <img class="humidity_wind_img" src="{% static 'Images/wind.png' %}" alt="">
            <div>
              <p class="wind">50 km/h</p>
              <p class="weather_text">Wind Speed</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'JS/map.js' %}"></script>
{% endblock %}